html body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%
}



/* Clsses */
.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  height: 2.5rem;

  border-bottom: #282c34 solid 3px;
  align-items: center;
}

.links {
  display: flex;
  flex-flow: row nowrap;
  width: 60%;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: #282c34;
}

.link:hover {
  color: #61dafb;
}

.link-title {
  text-decoration: none;
  cursor: pointer;
  color: #282c34;
  font-size: 1.1rem;
  font-weight: bold;
}

.container {
  display: flex;
  flex-flow: row wrap;
}

.page {
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-flow: column nowrap;

  border: #282c34 solid 3px;
  padding: 2rem;
}

.login-form-input {
  margin-bottom: 1rem;
}

.list {
  display: flex;
  flex-flow: column nowrap;
  width: 7rem;
}

.list-item-button {
  margin-bottom: 1rem;
  cursor: pointer;
}

.description {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  width: 15rem;
  margin-left: 2rem;
}

.categories {
  justify-content: space-around;
  width: 75%
}

.category {
  cursor: pointer;
  margin: 1rem;
  padding: 1rem;
  border: #282c34 2px solid;
}

.category:hover {
  background-color: #61dafb;
}

.modal {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  min-height: 250px;
  width: 500px;

  background: white;
  border: 3px solid #282c34;

  z-index: 1; /* Overlay effect: positioned over other containers */
  position: fixed; /* Fix position on the top-left corner*/
  top: 30%;
  left: 30%;
  overflow: auto; /* Enable scroll if needed */
  padding-top: 80px; /* Location of the content container */
}

.modal-text {
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-button {
  margin-top: auto;
  margin-bottom: 10px;
}

.search-bar {
  display: flex;
  justify-content: center;
  text-align: center;
}

.search-bar-input {
  margin-right: 10px;
  width: 300px
}

.search-bar-button {
  font-size: 20px;
}

.joke-page {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 80%;
}

.joke-list {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  max-height: 500px;
  margin-top: 2rem;
  padding-top: 10px;
  overflow-y: auto;
}

.joke-list-item {
  height: 2rem;
  width: 400px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: grey;
  text-align: center;
  color: white;
  border: #282c34 1px solid;
  border-radius: 5px;
}

.joke-list-item-full {
  width: 80%;
  margin: 10px 10% 10px 10%;
  padding: 10px;
  text-align: center;
  background-color: grey;
  color: white;
  border: #282c34 1px solid;
  border-radius: 5px;
}

.jokes-button {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 30%;
  margin: 0 35% 0 35%;
}